---

import Layout from '../layouts/Layout.astro';

// import '../styles/sass/main.css';
---

<Layout>

				<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h1>Hi, I’m Oussama,
								Your Next Software Developer</h1>
							<p>Specialized in Full-stack/JavaScript Web Development</p>
							<div class="main">

						<span>A passionate Problem Solver, who chose Coding to help people and businesses achieve their goals
							through
							code.</span>
						<br><br>
						<span>It is my privilege to offer a chance to be seen on the web to small businesses and individuals
							around
							me.
							Whether that be creating a website for you from the ground up, or updating an existing presence for the
							mobile age. Providing a place for interested parties to find and learn about what you offer is what I
							offer.
							<br>
							<br>

							How can I help you today?

						</span>
							</div>

						</header>
						<p></p>
						<ul class="actions">
							<li><a href="#" class="button big">Resume</a></li>
						</ul>
					</div>
					<!-- <span class="image object"> -->
					<!-- 	<img src="/images/MyPortrait.webp" alt="" style="max-height: 500px;" /> -->
					<!-- </span> -->
				</section>

				<!-- Section -->
				<section>
					<header class="major">
						<h2>My services</h2>
					</header>
					<div class="features">
						<article>
							<span class="icon solid fa-thumbtack"></span>
							<div class="content">
								<h3><strong>1. </strong>Consultation</h3>
								<p>It all begins with a conversation where we'll pinpoint what this project is all about.</p>
							</div>
						</article>
						<article>
							<span class="icon solid fa-project-diagram"></span>
							<div class="content">
								<h3><strong>2. </strong>Proposal</h3>
								<p>A detailed project proposal including a visual preview will be presented and a plan of action will be
									decided.</p>
							</div>
						</article>
						<article>
							<span class="icon solid style3 major fa-code"></span>
							<div class="content">
								<h3><strong>3. </strong>Creation</h3>
								<p>Clients receive regular updates regarding their project status while I create and test it.</p>
							</div>
						</article>
						<article>
							<span class="icon solid style4 major fa-rocket"></span>
							<div class="content">
								<h3><strong>4. </strong>Launch & Support</h3>
								<p>Peace of mind is delivered with the final project in the form of available ongoing support.</p>
							</div>
						</article>
					</div>
				</section>

				<!-- Section -->
				<section>
					<header class="major">
						<h2>Latest Projects</h2>
					</header>
					<div class="posts">
						<article>
							<a href="https://fylo.oussamabernou.me/" class="image" target="_blank"><img
									src="/images/desktop-preview.jpg" alt="" /></a>
							<h3>Fylo - Responsive Landing Page</h3>
							<p><strong>HTML5 & CSS3</strong> - A fully responsive landing page for a software product</p>
							<ul class="actions">
								<li><a href="https://github.com/0ussamaBernou/fylo-landing-page" class="button" target="_blank">More</a>
								</li>
							</ul>
						</article>
						<article>
							<a href="https://source-layout.oussamabernou.me/" class="image" target="_blank"><img
									src="/images/Source-project.jpeg" alt="" /></a>
							<h3>Source - Responsive Template</h3>
							<p><strong>HTML5 & CSS3</strong> - A fully responsive multi-purpose landing page template </p>
							<ul class="actions">
								<li><a href="https://github.com/0ussamaBernou/source-layout" class="button" target="_blank">More</a>
								</li>
							</ul>
						</article>
						<article>
							<a href="https://random-user.oussamabernou.me/" class="image" target="_blank"><img
									src="/images/random-user.gif" alt="" /></a>
							<h3>Random user generator</h3>
							<p>Front-end connected to random-user api</p>
							<ul class="actions">
								<li><a href="#" class="button" target="_blank">More</a></li>
							</ul>
						</article>
						<article>
							<a href="https://grocery-list.oussamabernou.me/" class="image"><img src="/images/grocery.gif"
									alt="" /></a>
							<h3>Mobile Grocery list</h3>
							<p>A mobile grocery list using local storage to store grocery items.</p>
							<ul class="actions">
								<li><a href="https://github.com/0ussamaBernou/grocery-list" class="button">More</a></li>
							</ul>
						</article>
						<article>
							<a href="https://cocktail-carousel.oussamabernou.me/" class="image"><img src="/images/cocktail.gif"
									alt="" /></a>



							<h3>Cocktail showcase</h3>
							<p>Carousel of cocktails fetched from cocktailDB api</p>
							<ul class="actions">
								<li><a href="https://github.com/0ussamaBernou/thecocktaildb-showcase" class="button">More</a></li>
							</ul>
						</article>
						<!-- <article>
							<a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>




							<h3>Amet varius aliquam</h3>
							<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante
								interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
					</div> -->
				</section>

</Layout>
