---
interface Props {
title: string;
body: string;
}

const { title, body } = Astro.props;
---

<div
	class="w-full bg-default transition-all border rounded-lg shadow-sm p-7 border-secondary hover:bg-secondary hover:drop-shadow-lg hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)]">
	<!-- <div class="uk-card uk-card-default uk-card-body lg:hover:!bg-secondary "> -->
	<h3 class="uk-card-title text-lg">{title}</h3>
	<br>
	<p>{body}</p>
</div>
