---
const currentYear = new Date().getFullYear();
---
<footer class="mx-auto max-w-7xl flex-none px-4 py-6 md:px-8 md:py-4 xl:px-0 ">
    <div class="flex flex-col gap-0 justify-around items-start">

        <p class="text-balance text-center text-sm leading-loose text-muted-foreground md:text-left">
          &copy;{currentYear} Oussama Bernou
        </p>
        <div class="flex flex-col  justify-between gap-4 md:h-auto md:flex-row">
            <p class="text-balance text-left text-sm leading-loose text-muted-foreground md:text-left">
                Designed and built by Oussama Bernou with Astro, Tailwind CSS, and Franken-UI. Deployed on Cloudflare Pages.
            </p>
        </div>

    </div>
</footer>
