---
---
<div class="flex flex-wrap gap-6 font-mono text-[10px] uppercase tracking-[0.2em] text-on-surface-variant">
	<a class="hover:text-on-surface" href="https://x.com/bernoussama" target="_blank" rel="noreferrer">X.com</a>
	<a class="hover:text-on-surface" href="https://github.com/bernoussama" target="_blank" rel="noreferrer">Github</a>
	<a class="hover:text-on-surface" href="https://linkedin.com/in/oussama-bernou" target="_blank" rel="noreferrer">Linkedin</a>
	<a class="hover:text-on-surface" href="mailto:hello@bernoussama.com">Mail</a>
</div>
