---
import Nav from './Nav.astro';
const { pathname } = Astro.url;
---
<header uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky;" class="z-50 mt-0">
	<nav class="uk-navbar-container mt-0">
		<div class="container max-w-screen-2xl">
			<div class="uk-navbar flex items-center justify-between md:px-6 mt-0" uk-navbar="mode: click">
				<div class="uk-navbar-left gap-6 flex">
					<a class="uk-navbar-item text-primary flex gap-2 justify-between items-center"
						href="/">
						<svg width="18" height="18" viewBox="0 0 18 18" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path d="M5.55882 5.19093H12.8092V12.4413L17.3202 16.9523V0.679932H1.04782L5.55882 5.19093ZM12.4415 12.8089H5.19118V5.55857L0.680176 1.04757V17.3199H16.9525L12.4415 12.8089Z"
								fill="currentColor" />
						</svg>
						<span class="text-base font-bold">Bernoussama</span>
					</a>
					<ul class="uk-navbar-nav hidden gap-6 lg:flex">
						<li class={pathname.startsWith("/blog") ? "uk-active" : "" }>
							<a href="/blog">Blog</a>
						</li>
						<li>
							<a href="https://github.com/0ussamaBernou"
								target="_blank">Github</a>
						</li>
						<li>
							<a href="Resume"
								target="_blank">Resume</a>
						</li>
					</ul>

				</div>
				<ul class="uk-iconnav flex items-center gap-2 lg:gap-8 flex-none">
					<li class="hidden lg:flex">
						<ul class="flex items-center gap-4">
							<li>
								<a href="mailto:contact@bernoussama.com"
									target="_blank">
									<svg width="16" height="16" fill="currentColor"
										viewBox="0 0 20 20">
										<polyline fill="none"
											stroke="currentColor"
											points="1.4,6.5 10,11 18.6,6.5">
										</polyline>
										<path
											d="M 1,4 1,16 19,16 19,4 1,4 Z M 18,15 2,15 2,5 18,5 18,15 Z">
										</path>
									</svg>
								</a>
							</li>
							<li>
								<a href="https://github.com/0ussamaBernou"
									target="_blank">

									<svg width="16" height="16" fill="currentColor"
										viewBox="0 0 20 20">
										<path
											d="M10,0.5 C4.75,0.5 0.5,4.76 0.5,10.01 C0.5,15.26 4.75,19.51 10,19.51 C15.24,19.51 19.5,15.26 19.5,10.01 C19.5,4.76 15.25,0.5 10,0.5 L10,0.5 Z M12.81,17.69 C12.81,17.69 12.81,17.7 12.79,17.69 C12.47,17.75 12.35,17.59 12.35,17.36 L12.35,16.17 C12.35,15.45 12.09,14.92 11.58,14.56 C12.2,14.51 12.77,14.39 13.26,14.21 C13.87,13.98 14.36,13.69 14.74,13.29 C15.42,12.59 15.76,11.55 15.76,10.17 C15.76,9.25 15.45,8.46 14.83,7.8 C15.1,7.08 15.07,6.29 14.75,5.44 L14.51,5.42 C14.34,5.4 14.06,5.46 13.67,5.61 C13.25,5.78 12.79,6.03 12.31,6.35 C11.55,6.16 10.81,6.05 10.09,6.05 C9.36,6.05 8.61,6.15 7.88,6.35 C7.28,5.96 6.75,5.68 6.26,5.54 C6.07,5.47 5.9,5.44 5.78,5.44 L5.42,5.44 C5.06,6.29 5.04,7.08 5.32,7.8 C4.7,8.46 4.4,9.25 4.4,10.17 C4.4,11.94 4.96,13.16 6.08,13.84 C6.53,14.13 7.05,14.32 7.69,14.43 C8.03,14.5 8.32,14.54 8.55,14.55 C8.07,14.89 7.82,15.42 7.82,16.16 L7.82,17.51 C7.8,17.69 7.7,17.8 7.51,17.8 C4.21,16.74 1.82,13.65 1.82,10.01 C1.82,5.5 5.49,1.83 10,1.83 C14.5,1.83 18.17,5.5 18.17,10.01 C18.18,13.53 15.94,16.54 12.81,17.69 L12.81,17.69 Z">
										</path>
									</svg>
								</a>
							</li>
							<li>
								<a href="https://linkedin.com/in/oussama-bernou"
									target="_blank">

									<svg width="16" height="16" fill="currentColor"
										viewBox="0 0 20 20">
										<path
											d="M5.77,17.89 L5.77,7.17 L2.21,7.17 L2.21,17.89 L5.77,17.89 L5.77,17.89 Z M3.99,5.71 C5.23,5.71 6.01,4.89 6.01,3.86 C5.99,2.8 5.24,2 4.02,2 C2.8,2 2,2.8 2,3.85 C2,4.88 2.77,5.7 3.97,5.7 L3.99,5.7 L3.99,5.71 L3.99,5.71 Z">
										</path>
										<path
											d="M7.75,17.89 L11.31,17.89 L11.31,11.9 C11.31,11.58 11.33,11.26 11.43,11.03 C11.69,10.39 12.27,9.73 13.26,9.73 C14.55,9.73 15.06,10.71 15.06,12.15 L15.06,17.89 L18.62,17.89 L18.62,11.74 C18.62,8.45 16.86,6.92 14.52,6.92 C12.6,6.92 11.75,7.99 11.28,8.73 L11.3,8.73 L11.3,7.17 L7.75,7.17 C7.79,8.17 7.75,17.89 7.75,17.89 L7.75,17.89 L7.75,17.89 Z">
										</path>
									</svg>
								</a>
							</li>
							<li>
								<a href="https://x.com/bernoussama" target="_blank">

									<svg width="16" height="16" fill="currentColor"
										viewBox="0 0 20 20">
										<path
											d="m15.08,2.1h2.68l-5.89,6.71,6.88,9.1h-5.4l-4.23-5.53-4.84,5.53H1.59l6.24-7.18L1.24,2.1h5.54l3.82,5.05,4.48-5.05Zm-.94,14.23h1.48L6,3.61h-1.6l9.73,12.71h0Z">
										</path>
									</svg>

								</a>
							</li>
						</ul>
					</li>
					<li>
						<a id="theme-toggle">
							<svg id="theme-toggle-light-icon"
								xmlns="http://www.w3.org/2000/svg" width="16"
								height="16" viewBox="0 0 24 24" fill="none"
								stroke="currentColor" stroke-width="2"
								stroke-linecap="round" stroke-linejoin="round"
								class="lucide lucide-sun dark:hidden">
								<circle cx="12" cy="12" r="4"></circle>
								<path d="M12 2v2"></path>
								<path d="M12 20v2"></path>
								<path d="m4.93 4.93 1.41 1.41"></path>
								<path d="m17.66 17.66 1.41 1.41"></path>
								<path d="M2 12h2"></path>
								<path d="M20 12h2"></path>
								<path d="m6.34 17.66-1.41 1.41"></path>
								<path d="m19.07 4.93-1.41 1.41"></path>
							</svg>
							<svg id="theme-toggle-dark-icon"
								xmlns="http://www.w3.org/2000/svg" width="16"
								height="16" viewBox="0 0 24 24" fill="none"
								stroke="currentColor" stroke-width="2"
								stroke-linecap="round" stroke-linejoin="round"
								class="lucide lucide-moon hidden dark:block">
								<path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
							</svg>
						</a>
					</li>
					<li class="lg:hidden">
						<a href="#menu" uk-toggle>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
								viewBox="0 0 24 24" fill="none" stroke="currentColor"
								stroke-width="2" stroke-linecap="round"
								stroke-linejoin="round" class="lucide lucide-menu">
								<line x1="4" x2="20" y1="12" y2="12"></line>
								<line x1="4" x2="20" y1="6" y2="6"></line>
								<line x1="4" x2="20" y1="18" y2="18"></line>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<div id="menu" class="uk-offcanvas !bg-opacity-60 !backdrop-blur-[8px]" uk-offcanvas>
	<div class=" uk-offcanvas-bar p-6 !bg-opacity-60 !backdrop-blur-[8px]">

		<button class="uk-offcanvas-close right-6 top-6" type="button" uk-close></button>

		<Nav />
	</div>
</div>
