---
import Layout from './Layout.astro';
const {frontmatter} = Astro.props;
---
<Layout>
	<div class="container mt-8 mb-8 flex flex-col items-center text-left">

		<h1 class="text-3xl text-center font-bold mb-8">{frontmatter.title}</h1>
		<div class="uk-divider-small my-2"></div>
		<!-- <h2 class="">Post author: {frontmatter.author}</h2> -->
		<p class="">{frontmatter.description}</p>
		<div class="uk-divider-small my-2 mb-8"></div>

		<div
			class="container prose dark:prose-invert prose-h1:font-bold prose-h1:text-xl prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl prose-headings:underline">
			<slot /> <!-- Markdown content is injected here -->
		</div>

	</div>
</Layout>
